<%layout('../../_common/layouts/general')%>

<% if(typeof message!='undefined') { %>
    <% if(message!='') { %>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <%=message %>
        </div>
    </div>
</div>
    <% } %>
<% } %>

<%- partial('../../_common/components/grid2',{
    fields:[
        {field:'identifier',title:'VknTckn',type:'string', filter:true,orderable:true,align:'left'},
        {field:'title',title:'Ünvan',type:'string',filter:true, orderable:true},
        {field:'postboxAlias',title:'postboxAlias',type:'string',filter:true, orderable:true},
        {field:'systemCreateDate',title:'systemCreateDate',type:'string', format:'yyyy-mm-dd hh:mm:ss', filter:false, orderable:true, nowrap:true},
        {field:'firstCreateDate',title:'firstCreateDate',type:'string', format:'yyyy-mm-dd hh:mm:ss', filter:false, orderable:true, nowrap:true},
        {field:'enabled',title:'Aktif?',type:'boolean',width:1, filter:true, orderable:false}
    ],
    title:'E-Fatura Mükellefleri',
    addNewButton:false,
    viewButton:false,
    editButton:false,
    deleteButton:false,
    selection:false,
    
    }) 
%>
