<%layout('../_common/layouts/general')%>

<%- html %>

<p>
	<%
	// builder.control('grid/textbox',{title:'grid_textbox back end'}) %>
</p>
<p>
	<% //builder.control('modal/deneme',{title:'modal deneme'}) %>
</p>
<hr>
<div id="deneme"></div>
<script type="text/javascript">
/*
	$(document).ready(()=>{
		setTimeout(()=>{
			var html=builder.control('modal/deneme',{title:'deneme front end',col:'col-5'})

			$('#deneme').html(html)
		},0)
	})
*/

  
  
</script>