<%layout('../_common/layouts/general')%>
<%- html %>

<%
	// if(typeof headerButtons=='undefined'){
	// 	headerButtons=''
	// 	if(typeof mode=='undefined')
	// 		mode=''
	// 	if(mode!='view'){
	// 		headerButtons+=`<button type="submit" form="${'form-general'}" class="btn btn-primary btn-form-header" title="Kaydet" name="btnFormSave"><i class="fas fa-save"></i></button>`
	// 	}
	// 	headerButtons+=`<a href="javascript:goBack();" class="btn btn-dark  btn-form-header ml-2" title="Vazgeç"><i class="fas fa-reply"></i></a>`
	// }
%>