<%layout('../../_common/layouts/general')%>
<div id="grid1"></div>
<script type="text/javascript">
	var locationTypes=<%- JSON.stringify(staticValues.locationTypes) %>

  document.querySelector('#grid1').innerHTML= gridBuilder.generateGrid({
  	name:{title:"Adı", type:"string"},
	  type:{title:"Turu", type:"lookup", lookup:<%- JSON.stringify(staticValues.locationTypes) %>},
	  hasChilderen:{title:"Alt Lokasyon?", type:"boolean"},
  	passive:{title:"Pasif?", field:"passive",type:"boolean"}
  },{
  	selection:true,
  	filter:true,
  	buttons:{
  		add:true,
  		edit:true,
  		delete:true,
  		view:false,
  		print:false,
  		copy:true
  	}
  },ui)

  
</script>
