<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
	<div class="sb-sidenav-menu">
		<div class="nav">
			<div id="leftMenu"></div>
			<hr class="w-100 mt-3" style="border-top: 1px solid #fd7e144d;">
			<a id="tawkto" class="nav-link" href="javascript:openInNewTab('https://tawk.to/chat/5f4bbf07cc6a6a5947b01c77/default');">
				<div class="sb-nav-link-icon"><i class="fas fa-medkit"></i></div>
				Destek216
			</a>
		</div>
	</div>

</nav>
<script type="text/javascript">
	

	document.getElementById('leftMenu').innerHTML=generateLeftMenu(global.menu)


</script>