<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Logging in...</title>
    <script src="<%- assetVersion('/vendor/js/jquery.v3.4.1.min.js') %>"></script>
</head>
<body>
  <center>
    <div><img src="<%- assetVersion('/img/logo.png') %>" alt="logo" style="max-width: 300px;width: 100%;"></div>
    <h3>logging in....</h3>
  </center>
  <script type="text/javascript">
    $(document).ready(function(){
      <% if(typeof databases!='undefined') { %>
          var databases=<%- JSON.stringify(databases) %>;
      <% }else{ %>
          var databases=[];
      <% } %>
      localStorage.setItem("databases",JSON.stringify(databases));

      if(databases.some(value=>{return value._id==localStorage.getItem('activeDb')})==false){
        if(databases.length>0){
          localStorage.setItem('activeDb',databases[0]._id);
          localStorage.setItem('activeDbName',databases[0].dbName);
          localStorage.setItem('activeDbModules','{}');
          
          if(databases[0].owner!=undefined)
            if(databases[0].owner.modules!=undefined){
              localStorage.setItem('activeDbModules',JSON.stringify(databases[0].owner.modules));
            }
        }else{
          localStorage.removeItem('activeDb');
          localStorage.removeItem('activeDbName');
          localStorage.removeItem('activeDbModules');
        }
      }
      window.location.href=window.location.origin + '/general/dashboard?db=' + (localStorage.getItem('activeDb') || '') + '&sid=<%=sid%>';

    });
  </script>
</body>
</html>