<script type="text/javascript">
	(function(exports) {

		var script=''

		exports.FormControl = Object.freeze({
			card:card,
			tab:tab,
			group:group,
			textBox:textBox,
			numberBox:numberBox,
			dateBox:dateBox,
			timeBox:timeBox,
			lookup:lookup,
			remoteLookup:remoteLookup,
			checkBox:checkBox,
			checkBoxLookup:checkBoxLookup,
			dateRangeBox:dateRangeBox,
			get script(){
				return script
			},
			set script(value){
				script=value
			}
		})

		
		function card(item){
			var s=`<div class="card cerceve1 ${item.col || ''} p-0 m-0 mb-2 ${item.visible===false?'hidden':''}">
			<div class="card-header">
			<a class="btn btn-collapse ${item.collapsed?'collapsed':''}" data-toggle="collapse" data-target="#cardCollapse${item.id}" aria-expanded="${!item.collapsed?'false':'true'}" aria-fields="cardCollapse${item.id}" href="#"><i class="far fa-caret-square-up fa-2x"></i></a>
			${item.title}${helpButton(item)}
			</div>
			<div  id="cardCollapse${item.id}" class="card-body p-1 card-collapse collapse ${item.collapsed?'collapsed':'show'}">
			<div class="row">
			${item.html || item.controls || ''}
			</div>
			</div>
			</div>`
			return s
		}

		function tab(item){
			var bActive=false
			item.tabs.forEach((tab)=>{
				if(tab.active===true){
					bActive=true
					return
				}
			})
			if(!bActive && item.tabs.length>0){
				item.tabs[0].active=true
			}
			var s=`
			<div class="col-12">
			<ul class="nav nav-tabs" role="tablist">`
				item.tabs.forEach((tab,tabIndex)=>{
				s+=`<li class="nav-item">
					<a class="nav-link ${tab.active?'active':''}" href="#formTab${item.id}${tabIndex}" role="tab" data-toggle="tab" id="IDformTab${item.id}${tabIndex}" aria-controls="formTab${item.id}${tabIndex}" aria-selected="${tab.active?'true':'false'}">
						${tab.icon?'<i class="' + tab.icon + '"></i>':''} ${tab.title || ''}
					</a>
				</li>`
				}) 
			s+=`</ul>
			<div class="tab-content" style="min-height: 70vh;overflow: auto;">`
				item.tabs.forEach((tab,tabIndex)=>{
				s+=`<div class="tab-pane ${tab.active?'show active':''}" id="formTab${item.id}${tabIndex}" role="tabpanel" aria-labelledby="IDformTab${item.id}${tabIndex}">
					<div class="row">
					${tab.controls || ''}
					</div>
				</div>`
				})
			s+=`</div>
			</div>
			`
			return s
		}

		function group(input,item){
			if(item.noGroup===true){
				return input
			}else{
				return `<div class="form-group ${item.col || ''} ${item.visible===false?'hidden':''}">
				<label class="m-0 p-0 ${item.required?'form-required':''}">${item.title || ''}${helpButton(item)}</label>
				${input}
				</div>`
			}
		}

		function textBox(item){
			return group(`<input type="text" class="form-control ${item.class || ''}" id="${item.id}" name="${item.name}" placeholder="${item.placeholder || item.title || item.label}" ${item.required?'required="required"':''} ${item.readonly==true?'readonly':''} onchange="${item.onchange || ''}" autocomplete="off" autofill="off" spellcheck="false" value="${item.value || ''}">`,item)
		}

		function numberBox(item){
			return group(`<input type="number" class="form-control text-right ${item.class || ''}" id="${item.id}" name="${item.name}" placeholder="${item.placeholder || item.title || item.label}" ${item.required?'required="required"':''} ${item.readonly==true?'readonly':''} onchange="${item.onchange || ''}" autocomplete="off" autofill="off" spellcheck="false" value="${item.value || 0}">`,item)
		}

		function dateBox(item){
			return group(`<input type="date" class="form-control ${item.class || ''}" id="${item.id}" name="${item.name}" placeholder="${item.placeholder || item.title || item.label}" ${item.required?'required="required"':''} ${item.readonly==true?'readonly':''} onchange="${item.onchange || ''}" autocomplete="off" autofill="off" spellcheck="false" value="${item.value || ''}">`,item)
		}

		function timeBox(item){
			return group(`<input type="time" class="form-control ${item.class || ''}" id="${item.id}" name="${item.name}" placeholder="${item.placeholder || item.title || item.label}" ${item.required?'required="required"':''} ${item.readonly==true?'readonly':''} onchange="${item.onchange || ''}" autocomplete="off" autofill="off" spellcheck="false" value="${item.value || ''}">`,item)
		}

		function lookup(item){
			var s=`<select type="text" class="form-control ${item.class || ''}" id="${item.id}" name="${item.name}" placeholder="${item.placeholder || item.title || item.label}" autocomplete="chrome-off" ${item.required?'required="required"':''} ${item.readonly==true?'disabled':''} onchange="${item.onchange || ''}">
			<option value="" ${item.value==''?'selected':''}>${item.showAll===true?'*':'-- Seç --'}</option>`
			if(item.lookup){
				Object.keys(item.lookup).forEach((key)=>{
					s+=`<option value="${key}" ${key===item.value?'selected':''}>${item.lookup[key]}</option>`
				})
			}
			s+=`</select>`
			if(item.lookupTextField){
				s+=`<input type="hidden" name="${item.lookupTextFieldName || ''}" value="">`
				script+=`
				$('#${item.id}').on('change',()=>{
					if($('#${item.id}').val()!=''){
						$('input[name="${item.lookupTextFieldName || ''}"]').val($('#${item.id} option:selected').text())
					}else{
						$('input[name="${item.lookupTextFieldName || ''}"]').val('')
					}
				})
				`
			}
			
			return group(s,item)
		}

		function checkBoxLookup(item){
			
			var s=``
			var input=`
			<select name="${item.name}" id="${item.id}" class="form-control p-0 m-0 ${item.class || ''}">
			<option value="">*</option>
			<option value="true"><i class="fas fa-check-square text-primary"></i> Evet</option>
			<option value="false"><i class="far fa-square text-dark"></i> Hayır</option>
			</select>
			`
			if(item.noGroup===true){
				s=input
			}else{
				s=`<div class="form-group ${item.col || ''} ${item.visible===false?'hidden':''}">
				<label>
				<span class="mb-1" style="display:block;">${item.title || ''}${helpButton(item)}</span>
				${input}
				</label>
				</div>`
			}
			
			return s
		}
		function remoteLookup(item){
			var s=``
			var input=`
			<div class="input-group">
			<input type="search" class="form-control ${item.class || ''}" id="${item.id}-autocomplete-text"  placeholder="${item.placeholder || item.title || ''}" value="${item.valueText || ''}" autocomplete="off" autofill="off" spellcheck="false" ${item.required?'required="required"':''} ${item.readonly?'readonly':''} >
			<div class="input-group-prepend">
			<div class="input-group-text"><i class="fas fa-ellipsis-v"></i></div>
			</div>
			</div>
			<input type="hidden" name="${item.name}" value="${item.value || ''}">
			<input type="hidden" id="${item.id}-obj"  value="">
			`
			if(item.lookupTextField){
				input+=`<input type="hidden" name="${item.lookupTextFieldName || ''}" value="${item.valueText || ''}">`
			}

			
			if(item.noGroup===true){
				s=input
			}else{
				s=`<div class="form-group ${item.col || ''} ${item.visible===false?'hidden':''}">
				<label class="m-0 p-0 ${item.required?'form-required':''}">${item.title || ''}${helpButton(item)} ${item.lookupTextField?'<span class="ml-3 bold small text-success" id="' + item.id + '-original-text"></span>':''}</label>
				${input}
				</div>
				`
			}
			
			script+=`
			remoteLookupAutocomplete(JSON.parse(decodeURIComponent('${encodeURIComponent2(JSON.stringify(item))}')))
			`
			// remoteLookupAutocomplete(JSON.parse(decodeURIComponent(`${encodeURIComponent2(JSON.stringify(item))}`)))
			
			return s
		}

		function checkBox(item){
			var s=``
			var input=`<input type="checkbox" class="form-checkbox" id="${item.id}" name="${item.name}" value="true" ${item.value?'checked':''} ${item.readonly==true?'disabled':''} onchange="${item.onchange || ''}" />`
			if(item.noGroup===true){
				s=input
			}else{
				s=`<div class="form-group ${item.col || ''} ${item.visible===false?'hidden':''}">
				<label>
				<span class="mb-1" style="display:block;">${item.title || ''}${helpButton(item)}</span>
				${input}
				</label>
				</div>`
			}
			
			return s
		}

		function dateRangeBox(item){
			var s=`<div id="${item.id}" class="row m-0 p-0">
			<select class="form-control col-sm-4 ${item.class || ''}" name="cboEasyDate" id="cboEasyDate">
			<option value="">Tarih</option>
			<option value="today">Bugün</option>
			<option value="thisWeek">Bu Hafta</option>
			<option value="thisMonth" selected>Bu Ay</option>
			<option value="last1Week">Son 1 Hafta</option>
			<option value="last1Month">Son 1 Ay</option>
			<option value="last3Months">Son 3 Ay</option>
			<option value="last6Months">Son 6 Ay</option>
			<option value="thisYear">Bu yıl</option>
			<option value="last1Year">Son 1 yıl</option>
			</select>
			<input type="date" name="date1" id="date1" class="form-control col-sm-4" value="${moment().format('YYYY-MM-DD')}">
			<input type="date" name="date2" id="date2" class="form-control col-sm-4" value="${moment().format('YYYY-MM-DD')}">
			</div>`

			script+=`
			$('#${item.id} #cboEasyDate').on('change',cboEasyDate_onchange_${item.id})

			if(pageSettings.getItem('${item.id}')){
				$('#${item.id} #cboEasyDate').val(pageSettings.getItem('${item.id}'))
				cboEasyDate_onchange_${item.id}()
			}

			function cboEasyDate_onchange_${item.id}(){
				var obj=cboEasyDateChange($('#${item.id} #cboEasyDate').val())
				$('#${item.id} #date1').val(obj.date1)
				$('#${item.id} #date2').val(obj.date2)
				pageSettings.setItem('${item.id}',$('#${item.id} #cboEasyDate').val())
			}

			`






			return group(s,item)
		}
	})(typeof exports === 'undefined'? this['FormControl']={}: exports)


</script>