<% layout('../_common/layouts/general') %>
<div id="mainCtrl"></div>

<script type="text/javascript">

	function sayfaBul(){
		pageTitle(global.menu)
		var sayfa=getPropertyByKeyPath(global.pages,hashObj.pathKey)
		if(!sayfa)
			return null
		var resp
		switch(hashObj.func){
			case 'edit':
			resp=sayfa.edit || sayfa.form
			break
			case 'view':
			resp=sayfa.view || sayfa.edit || sayfa.form || null
			break
			case 'print':
			resp=sayfa.print || sayfa.edit || sayfa.form || null
			break
			case 'addnew':
			resp=sayfa.addnew || sayfa.form || null
			break

			case '':
			case 'index':
			resp= sayfa.index || null
			break
			default:
			resp=sayfa[hashObj.func] || null
			break
		}
		return resp
	}
	
	function sayfayiAcalim(){
		if((hashObj.query.mid || '')!=''){
			$(`#leftMenu a`).removeClass('active')
			$(`#leftMenu #menu${hashObj.query.mid.replaceAll('.','-')}`).addClass('active')
		}
		
		var sayfa=sayfaBul()
		if(sayfa){

			frm.build(sayfa,'mainCtrl')
		}else{
			$('#mainCtrl').html('sayfa bulunamadi')
		}
	}
	
	
	var frm=FormControl.FormControl
	
	$(document).ready(()=>{
		sayfalariTekrarYukle(()=>{
			sayfayiAcalim()
			window.onhashchange=()=>{
				hashObj=getHashObject()
				
				$('#mainCtrl').html('loading...')
				sayfayiAcalim()
				
			}
		})

	})
</script>
