<% layout('../_common/layouts/plain') %>
<div id="mainCtrl"></div>

<script type="text/javascript">
	

	function sayfaBul(){
		console.log(`hashObj.pathKey:`,hashObj.pathKey)
		var sayfa=getPropertyByKeyPath(global.pages,hashObj.pathKey)
		if(!sayfa)
			return null
		var resp
		switch(hashObj.func){
			case 'edit':
			resp=sayfa.edit || sayfa.form
			break
			case 'view':
			resp=sayfa.view || sayfa.edit || sayfa.form || null
			break
			case 'print':
			resp=sayfa.print || sayfa.edit || sayfa.form || null
			break
			case 'addnew':
			resp=sayfa.addnew || sayfa.form || null
			break

			case '':
			case 'index':
			resp= sayfa.index || null
			break
			default:
			resp=sayfa[hashObj.func] || null
			break
		}
		if(Array.isArray(resp)){
			var obj
			resp.forEach((e)=>{
				if(e.type=='form' || e.type=='print'){
					obj=e
				}
			})
			if(obj){
				return obj
			}
		}
		return resp
	}
	
	function sayfayiAcalim(){
		if(hashObj.func=='print'){
			var sayfa=sayfaBul()
			
			getRemoteData(sayfa,(err,data)=>{
				if(!err){
					$('#mainCtrl').html(data.value)
				}else{
					$('#mainCtrl').html(`${err.code || err.name} - ${err.message || err.name}`)
				}
			})
			
		}else{
			$('#mainCtrl').html('baska bir plain sayfa')
		}
		
	}
	
	
	var frm=FormControl.FormControl
	
	

	$(document).ready(()=>{
		sayfalariTekrarYukle(()=>{
			sayfayiAcalim()
			window.onhashchange=()=>{
				hashObj=getHashObject()
				

				$('#mainCtrl').html('loading...')
				sayfayiAcalim()
				
			}
		})

	})
</script>
