<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TR216 - Portal</title>

    <link href="/css/fontawesome.v5.8.2.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">



    <link href="/css/theme.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.v3.4.1.min.js"></script>
    
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datepicker3.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-select.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css" />
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/tr216-functions.js"></script>

    <link href="/css/tr216-portal.css" rel="stylesheet">
    <link href="/css/tr216-menu.css" rel="stylesheet">
</head>
<body id="page-top" style="scroll-behavior: smooth;">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <%- body %>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <!-- <span>shaman.Coders((e)=>{return '2019 - &copy; <%=(new Date()).getFullYear()%>';})</span> -->
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script type="text/javascript" src="/js/bootstrap.bundle.v4.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker-locales/bootstrap-datepicker.tr.min.js"></script>
<script type="text/javascript" src="/js/tr216-ui.js"></script>

</body>
</html>