<%layout('../../_common/layouts/generals/login-layout')%>
<% 
    title='Onay kodu';
%>
<form action="" method="post">
    <fieldset>
        <% if ( message!='' ) { %>
            <div class="flash"><%= message %></div>
        <% } %>
        <div class="form-group">
            <label for="">Kullanici adi:</label>
            <input class="form-control" placeholder="E-mail veya telefon" name="username" type="text" autofocus value="<%=form['username']%>" readonly="readonly">
        </div>
        <div class="form-group">
            <label for="">Onay kodu:</label>
            <input class="form-control" placeholder="Onay kodu" name="authCode" type="text" value="<%=form['authCode']%>" required="required">
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block">Onayla</button>
            </div>
            <div class="col-md-4 offset-md-2">
                <a href="/general/login" class="btn btn-dark btn-block"><i class="fa fa-reply"></i> Vazgec</a>
            </div>
        </div>
        
    </fieldset>
</form>
                   
