<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
		function loadXMLDoc(filename)
		{
			console.log(`filename:`,filename)
			if (window.ActiveXObject)
			{
				xhttp = new ActiveXObject("Msxml2.XMLHTTP")
			}
			else
			{
				xhttp = new XMLHttpRequest()
			}


			xhttp.overrideMimeType('text/xml')
			xhttp.open("GET", filename, false)
			

			try {xhttp.responseType = "msxml-document"} catch(err) {

			}

			xhttp.send("")

			
			return xhttp.responseXML
		}

		function displayResult()
		{
			xml = loadXMLDoc(window.location.origin + "/dbapi/downloadFile/despatch/xml/<%- form._id %>?sid=<%- sid %>");
			xslt = loadXMLDoc(window.location.origin + "/dbapi/downloadFile/despatch/xslt/<%- form._id %>?sid=<%- sid %>");

			if (window.ActiveXObject || xhttp.responseType == "msxml-document")
			{
				ex = xml.transformNode(xslt);
				document.getElementById("divView").innerHTML = ex;
			}
			else if (document.implementation && document.implementation.createDocument)
			{
				xsltProcessor = new XSLTProcessor();
				xsltProcessor.importStylesheet(xslt);
				
				resultDocument = xsltProcessor.transformToFragment(xml,document);
				document.getElementById("divView").appendChild(resultDocument)
			}
		}

		function yazdir(){
			alert('yazdirma deneme')
		}
	</script>
<body onload="displayResult()">
<div id="divView" />
</body>
</html>