<%layout('../../_common/layouts/plain')%>
<%- formBuilder.generateForm({
   
    controls:{
        locationName:{field:'posDevice.location.locationName',    title:'Lokasyon',    type:'string'}, 
        deviceSerialNo:{field:'posDevice.deviceSerialNo',           title:'Seri No',     type:'string'}, 
        serviceName:{field:'posDevice.service.name',             title:'Servis adı',  type:'string'}, 
        localConnectorName:{field:'posDevice.localConnector.name',      title:'Local Connector',  type:'string'}, 
        status:{field:'status',                            title:'Durum',     type:'string'},
        errCode:{field:'error.code',                            title:'Son Hata Kodu',     type:'string'},
        errMsg:{field:'error.message',  title:'Son Hata',     type:'string'},
        data:{field:'data',                               title:'ZRapor Data',    type:'json'}
        
    },
    
    mode:'view'
    }) 
%>

<div class="row">
    <div class="col-lg-6 col-md-6">
        
    <% if(typeof form!='undefined') { %>
        <a id="fileDownload" href="" download="ornek_data.json"><i class="fa fa-file"></i> ornek_data.json</a>
    <% } %>
    </div>
</div> 
<script type="text/javascript">
    $(document).ready(function(){
        var s=<%- JSON.stringify(form)%>;
        var s64='data:application/json;base64,' + btoa(JSON.stringify(s,null,2));
        
        $('#fileDownload').attr('href',s64);

    });
</script>