<% 


var s=''


s+=`<tr id="grid${locals.id}-edit-row" class="grid${locals.id}-row">`
s+=`${locals.options.selection && row._id?'<td></td>':''}`
Object.keys(locals.fields).forEach((key)=>{
	var field=locals.fields[key]

	var td=''

		s+=`<td>${builder.control('grid/textbox',field)}</td>`
			})
s+='<td>edit butons</td>'
s+=`</tr>`

%>
<%- s %>


<%
function buttonCell(row,rowIndex){
	var s=``
	s+=`<td class="text-center">`

	if(locals.options.insideForm==false){
		Object.keys(locals.options.buttons).forEach((key)=>{
			if(locals.defaultButtons[key]==undefined){
				s+=`${locals.options.buttons[key][0]?replaceUrlCurlyBracket(locals.options.buttons[key][1],row):''}`
			}
		})
		var field0=''
		if(fields['name']!=undefined){
			field0='name'
		}else{
			Object.keys(fields).forEach((key,index)=>{
				if(field0!='')
					return
				if(fields[key].field.indexOf('name')>-1){
					field0=fields[key].field
					return
				}
				if(fields[key].type=='string'){

					field0=fields[key].field
					return
				}
			})
			if(field0==''){
				field0=fields[Object.keys(fields)[0]].field
			}
		}
		var deleteButtonHtml=''
		if(locals.options.buttons.delete[0]){
			deleteButtonHtml=locals.options.buttons.delete[1]
			deleteButtonHtml=deleteButtonHtml.replaceAll('{field[0]}',getPropertyByKeyPath(row,field0))
			deleteButtonHtml=replaceUrlCurlyBracket(deleteButtonHtml,row)
		}

		var copyButtonHtml=''
		if(locals.options.buttons.copy[0]){
			copyButtonHtml=locals.options.buttons.copy[1]
			copyButtonHtml=copyButtonHtml.replaceAll('{field[0]}',getPropertyByKeyPath(row,field0))
			copyButtonHtml=replaceUrlCurlyBracket(copyButtonHtml,row)
		}

		s+=`${copyButtonHtml}
		${locals.options.buttons.print[0]?replaceUrlCurlyBracket(locals.options.buttons.print[1],row):''}
		${locals.options.buttons.view[0]?replaceUrlCurlyBracket(locals.options.buttons.view[1],row):''}
		${locals.options.buttons.edit[0]?replaceUrlCurlyBracket(locals.options.buttons.edit[1],row):''}
		${deleteButtonHtml}`
	}else{
		s+=`<a href="javascript:refreshGrid${locals.id}(${rowIndex})" class="btn btn-grid-row status-iade" title="Satır düzenle"><i class="fi fi-pencil"></i></a>`
		s+=`<a href="javascript:removeGridRow${locals.id}(${rowIndex})" class="btn btn-grid-row btn-danger ml-2" title="Satır sil"><i class="fi fi-recycle-bin-line"></i></a>`
	}


	s+=`</td>`
	return s
}


%>

