<%layout('../../_common/layouts/general')%>
<%- partial('../../_common/components/grid2',{
    fields:[
        {name:'name',text:'Adı',type:'label'},
        {name:'connectorId',text:'Connector ID',type:'label'},
        {name:'status',text:'Status',type:'label'},
        {name:'connectionType',text:'Baglanti Turu',type:'lookup', lookup:connectionTypes},
        {name:'passive',text:'Pasif',type:'checkbox',width:1}
    ],
    caption:'Lokal Connector Listesi',
    addNewButton:true,
    editButton:true,
    deleteButton:true,
    viewButton:true,
    customButtons:[{href:'/settings/local-connectors/code/{_id}?db=' + db + '&sid=' + sid,text:'Kodlama',icon:'fas fa-code'}],
    deleteUrl:'/dbapi/local-connectors/{_id}?db=' + db + '&sid=' + sid
    }) 
%>

<div class="row mt-4">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>TR216 Local Connector Download</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><a href="/downloads/TR216_LocalConnector_setup.zip" ><i class="fa fa-file-archive"></i> TR216_LocalConnector_setup.zip </a></p>
        <p><a href="/downloads/TR216_LocalConnector_setup.exe" ><i class="fa fa-file"></i> TR216_LocalConnector_setup.exe </a></p>
    </div>
</div>