body {
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

    
body, input, button, select, label, textarea {

    color: #555;
    /*font-size: 10pt;*/
    font-size: 12px;
}
.table {
    color: #555;
    /*font-size: 10pt;*/
    font-size: 12px;
}

.table thead th {
    padding: 0.25rem;
    vertical-align: middle;
    border-bottom: 2px solid #e3e6f0;
    font-size: 14px;
}

.table th, .table td {
    padding: 0.25rem;
    vertical-align: middle;
    /*border-top: 1px solid #e3e6f0;*/
}
td {
    max-height: 35px !important;
    height: 35px !important;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    border: 0;
    border-top: 1px solid #f8f9fc6b;
}

.form-control {
    height: 28px;
    padding: 0.05rem 0.25rem;
    font-size: 10pt;
}

.btn {
    padding: 0.0rem 0.6rem;
    font-size: 14px;
}

.btn-primary {
    color: #fff;
    background-color: #0E6DEF;
    border-color: #0E6DEF;
}

.topbar {
    height: 3.375rem;
    background-color: #040043;
}

.header-logo {
	padding: 1.5rem ;
}

#dbLabel {
	display: inherit;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 140px;
    max-width: 250px;
}

@media (max-width: 768px){
	#dbLabel {
		display: none;
	}
}

.container, .container-fluid {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.grid-control-buttons {
    width: 50px!important;
    padding-bottom: 0.40em!important;
    padding-top: 0.40em!important;
}

.tab-content {
    border: thin #dddfeb solid;
    padding: 10px;
}


.dataTables_info {
    padding-top: 0.25em!important;
}


.code-area {
    overflow-wrap: normal;
    color: #fbe3bf;
    background-color: #111111;
    overflow-x: scroll;
}

.rounded-circle {
    border-radius: 50% !important;
    padding: 0.4rem 0.8rem !important;
}

.btn-outline-secondary {
    color: #F0f0f0;
    border-color: #F0f0f0;
}