<%layout('../../_common/layouts/general')%>
<% 
	title='Ana Sayfa' 
	icon='fas fa-tachometer-alt'

%>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Primary Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Warning Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Success Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Danger Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
<br>
<a href="javascript:calistir()" class="btn btn-primary">Calistir</a>
<br>

<form>
<div id="sonuc"></div>
</form>

<script type="text/javascript">
	

	function calistir(){
		var data1={
        locationName:{caption:'Lokasyon ismi', type:'textbox'    ,required:true},
        locationType:{caption:'Lokasyon Turu', type:'lookup' , lookup:[{text:'Depo',value:1},{text:'Magaza',value:2}]   ,required:true},
        hasSubLocations:{caption:'Alt Lokasyonu var mi?', type:'checkbox'    },
        passive:{caption:'Pasif?', type:'checkbox'    }
    }
		var s=frmBuilder.build(data1,data1,'edit')
		$('#sonuc').html(s)
	}
</script>
