<div class="form-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-6">
					<button type="submit" form="<%=formName%>" class="btn btn-primary" title="Calistir" name="btnRun" value="true"><i class="fa fa-globe"></i> Calistir</button>	
				</div>
				<div class="col-md-6 text-right">
					<label for="sampleFileUpload" class="btn btn-primary"><i class="fa fa-file"></i> Dosyadan seç</label>
		    		<input type="file" name="sampleFileUpload" id="sampleFileUpload" style="visibility:hidden;" accept="json,txt" >
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="sampleData">Örnek JSON data</label>
				<textarea name="sampleData" id="sampleData" class="form-control code-area" rows="10"><% if(typeof form.sampleData!='undefined'){%><%=form.sampleData%><%}%></textarea>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		
		<div class="panel-body">
			<div class="form-group">
				<label for="resultConsole">Sonuc:</label>
				<textarea name="resultConsole" id="resultConsole" class="form-control result-area" rows="5"><% if(typeof form['resultConsole']!='undefined'){%><%=form['resultConsole']%><%}%></textarea>
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript">
	$("#sampleFileUpload").change(function() {
	  var filename = this.files[0].name;
	  

	  var file =this.files[0]; 
	  var reader  = new FileReader();
	  reader.addEventListener("load", function () {
	  	try{
	  		var s=reader.result;
	  		var data=JSON.parse(s);
	  		$('#sampleData').val(JSON.stringify(data,null,2));
	  	}catch(err){
	  		alertX((err.message || err.name || 'Hata oluştu'),'HATA','danger');
	  	}

	  }, false);

	  if (file) {

	  	reader.readAsText(file, 'UTF-8');
	  }
	});
</script>

