<footer class="footer mt-auto">
    <div class="container-fluid">
        <div class="align-items-center small">
            <div class="float-left text-muted">&copy; 2020 tr216, Tüm hakları saklıdır.</div>
            <div class="float-right text-primary">
                <span class="float-right" title="Aktif kullanıcı">
                    <i class="fas fa-user"></i> <%- username %>
                </span>

                <span id="dbLabel" class="float-right mr-3" title="Aktif veri ambarı">
                    <i class="fas fa-database"></i> <%- db %>
                </span>
            </div>
        </div>
    </div>
</footer>