<%layout('../../_common/layouts/general')%>

<div id="form1"></div>

<!-- <script type="text/javascript"> -->
	
	<!-- document.getElementById('form1').innerHTML=formBuilder.generateForm({ -->
<%- formBuilder.generateForm({

		'partyName.name.value':{title:'Müşteri Adı', type:'string', col:6 ,required:true},
		'person.firstName.value':{title:'Kişi Adı', type:'string', col:3},
		'person.familyName.value':{title:'Kişi Soyadı', type:'string', col:3},
		'partyIdentification.0.ID.attr.schemeID':{title:'Tür', type:'lookup', lookup:{VKN:'VKN',TCKN:'TCKN'} , col:4},

		'partyIdentification.0.ID.value':{title:'Vergi No/Tckn', type:'string', col:3},
		'partyTaxScheme.taxScheme.name.value':{title:'Vergi Dairesi', type:'string', col:4},
		tags:{title:'Etiketler (virgulle ayrılmış)', type:'string', col:8},
		iletisim:{
			collapsed:true,
			title:'İletişim',
			controls:{
				'contact.telephone.value'			:{title:'Telefon', type:'string'},
				'contact.telefax.value'				:{title:'Fax', type:'string'},
				'contact.electronicMail.value':{title:'E-Mail', type:'string'}
			}
		},
		
		//qwerty account:{title:'Muhasebe Hesabı', type:'partial' , partial:'../components/account-selection.ejs'},
		adres:{
			title:'Adres',
			controls:{
				'postalAddress.streetName.value'				:{title:'Cadde/Sokak', type:'string', 	col:6},
				'postalAddress.buildingNumber.value'		:{title:'Cadde Sokak Kapı No', type:'string', 	col:3},
				'postalAddress.buildingName.value'			:{title:'Bina/Site adı', type:'string', 	col:3},
				'postalAddress.blockName.value'					:{title:'Blok adı', type:'string', 	col:3},
				'postalAddress.room.value'							:{ title:'Daire', type:'string', 	col:3},
				'postalAddress.citySubdivisionName.value':{title:'Mahalle/Semt', type:'string', 	col:3},
				'postalAddress.district.value'					:{title:'İlçe', type:'string', 	col:3},
				'postalAddress.cityName.value'					:{title:'Şehir', type:'string', 	col:3},
				'postalAddress.region.value'						:{title:'Bölge', type:'string', 	col:3},
				'postalAddress.country.name.value'			:{ title:'Ülke', type:'string', 	col:3},
				'postalAddress.postbox.value'						:{title:'Posta Kutusu', type:'string', 	col:3},
				'websiteURI.value'											:{title:'Web sitesi', type:'string', 	col:3}
			},
			collapsed:true
		},
		passive:{title:'Pasif?', type:'boolean', col:4    }

	}
	,{mode:'edit',isForm:true},form) 
%>
<!-- </script> -->


