<% layout('../../../_common/layouts/general') %>
<% 
    title='Parolamı unuttum';
    hideLeftTopLogo=false;
%>
<form action="" method="post">
    <div class="row justify-content-md-center mt-2">
        <div class="col-md-12 module-title text-center" style="font-size: 32px;">
            <i class="fas fa-user-lock"></i> <%=title%>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <% if ( typeof message!='undefined' ) { %>
        <div class="col-md-4">
            <div class="flash"><%= message %></div>
        </div>
        <% } %>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Kullanici adi:</label>
                <input class="form-control" placeholder="E-mail veya telefon" name="username" type="text" value="<%=form.username%>" required="required">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3" style="max-width: 60%;">
            <button type="submit" class="btn btn-primary btn-block">Parolami gonder</button>
        </div>
        <div class="col-md-1" style="max-width: 40%;">
            <a href="/login" class="btn btn-dark btn-block" title="Vazgeç"><i class="fa fa-reply"></i></a>
        </div>
    </div>
</form>
                   
