<% layout('../../_common/layouts/login-layout') %>
<%
    
%>          
    <style type="text/css">
        body{
            background-color: #007bff!important;
        }
        footer.footer {
          padding-top: 3rem;
          padding-bottom: 4rem;
          background-color: #007bff;
        }

        footer.footer a{
          color:#f8f9fa;
        }
        footer.footer li{
          color:#f8f9fa;
        }
    </style>
    <nav class="navbar static-top">
        <div class="container">
            <div class="float-left" style="width: 50%;">
                <a href="/" class="mb-4"><img src="<%- assetVersion('/img/logo-white.png') %>" style="max-width: 100%; max-height: 40px;"></a>
            </div>
            
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><div class="text-center login-title text-primary"><i class="fas fa-user-check mr-1"></i> {{Verification}}</div></div>
                    <div class="card-body">
                        <form action="" method="POST" role="form" name="form1" id="form1" autocomplete="off">
                            <div class="form-group">
                                <label class="small mb-1" for="inputTelephone">{{Telephone Number}}</label>
                                <input class="form-control" id="inputTelephone" type="tel" placeholder="{{Enter your phone number}}" readonly="true" value="+905533521042" />
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputFirstName">{{First Name}}</label>
                                        <input class="form-control" id="inputFirstName" type="text" placeholder="{{Enter first name}}" readonly="true" value="Ali" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputLastName">{{Last Name}}</label>
                                        <input class="form-control" id="inputLastName" type="text" placeholder="{{Enter last name}}" readonly="true" value="Tek"  />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">{{Email}}</label>
                                <input class="form-control" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" readonly="true" value="alitek@gmail.com" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputAuthCode">{{Verification code}}</label>
                                <input class="form-control" id="inputAuthCode" type="number" placeholder="Enter the verification code" />
                                <label class="text-info">{{Check the 6-digit verification code sent to your phone or email}}</label>
                            </div>
                            
                            <div class="form-group mt-4 mb-0">
                                <input class="btn btn-primary btn-block" type="submit" value="{{Ok}}">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="/login">{{Have an account? Go to login}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- indent(partial('../../_common/layouts/footer'),4) %>