<%layout('../../_common/layouts/general')%>
<%-	gridBuilder.generateGrid({
  itemType						:{title:'Turu', type:'lookup', lookup:productTypeList},
  'name.value'				:{title:'Adı',  type:'string'},
  'description.value'	:{title:'Açıklama',  type:'string'},
  'tracking.lotNo'		:{title:'Lot No?', type:'boolean'},
  'tracking.serialNo'	:{title:'Seri No?', type:'boolean'},
  'tracking.color' 		:{title:'Renk?', type:'boolean'},
  'tracking.pattern'	:{title:'Desen?', type:'boolean'},
  'tracking.size'			:{title:'Beden?', type:'boolean'},
  accountGroup				:{title:'Muh.Grup', type:'lookup',lookup:accountGroupList},
  passive 						:{title:'Pasif?', type:'boolean'}
  },{
  	editable:true,
  	hidable:true,
  	selection:true,
  	filter:true,
  	copy:{
  		fields:[{title:'Adı', field:'name.value', type:'string'}],
  		url:`/dbapi/items/copy?sid=${q.sid}`
  	},
  	buttons:{
  		add:true,
  		edit:true,
  		delete:true,
  		view:false,
  		print:false,
  		copy:true
  	}
  },ui)
%>
<div id='grid1'></div>
<script type='text/javascript'>
		
	// var data=<%- JSON.stringify(ui) %>
	// var productTypeList=<%- JSON.stringify(productTypeList) %>
	// var accountGroupList=<%- JSON.stringify(accountGroupList) %>

  // var columns=[
  // {title:'Turu', field:'itemType', type:'lookup', lookup:productTypeList},
  // {title:'Adı', field:'name.value', type:'string'},
  // {title:'Açıklama', field:'description.value', type:'string'},
  // {title:'Lot No?', field:'tracking.lotNo', type:'boolean'},
  // {title:'Seri No?', field:'tracking.serialNo', type:'boolean'},
  // {title:'Renk?', field:'tracking.color', type:'boolean'},
  // {title:'Desen?', field:'tracking.pattern', type:'boolean'},
  // {title:'Beden?', field:'tracking.size', type:'boolean'},
  // {title:'Muh.Grup', field:'accountGroup', type:'lookup',lookup:accountGroupList},
  // {title:'Pasif?', field:'passive',type:'boolean'}
  // ]

  // document.querySelector('#grid1').innerHTML= gridBuilder.generateGrid(columns,{
  // 	editable:true,
  // 	hidable:true,
  // 	selection:true,
  // 	filter:true,
  // 	buttons:{
  // 		add:true,
  // 		edit:true,
  // 		delete:true,
  // 		view:false,
  // 		print:false,
  // 		copy:true,
  // 		// aktarim:[true,`<a href='javascript:alert('merhaba dunya {name.value}')' class='btn btn-grid-row btn-secondary' title='aktarim'><i class='fas fa-cogs'></i></a>`],
  // 		// aktarim2:[true,`<a href='javascript:alert('merhaba dunya {name.value}')' class='btn btn-grid-row btn-secondary' title='aktarim'><i class='fas fa-cogs'></i></a>`]
  // 	}
  // },data)
</script>



<!-- partial('../../_common/forms/modal',{
    modalId:'itemCopyModal',
    title:'Kopya',
    controls:{
        newName:{title:'Yeni isim', type:'string', default:''}
    },
    mode:'addnew',
    buttons:[
        {isCancelButton:true},
        {href:'javascript:itemCopySave()', title:'Kopyala',  title:'Kopyala',icon:'far fa-copy', class:'btn btn-primary'}
    ]
})
 -->
<script type='text/javascript'>
    var temp_id, temp_name;
    function itemCopyConfirm(_id, name){
        temp_id=_id;
        temp_name=name;
        $('#newName').val(name + ' kopya');
        $('#itemCopyModal').modal('show');
    }

    function itemCopySave(){
        if($('#newName').val().trim()==''){
            alert('Isim bos olamaz');
            return;
        }
        $('#itemCopyModal').modal('hide');

        var data={id:temp_id, newName:$('#newName').val()}
        $.ajax({
            url:`/dbapi/items/copy?sid=${q.sid}`,
            data:data,
            type:'POST',
            success:function(result){
                if(result.success){
                    window.location.reload();
                }else{
                    $('#itemCopyModal').modal('show');
                    alert(result.error.code + ' - ' + result.error.message);
                }
            }
        });
       
    }
</script>