<%layout('../../_common/layouts/general')%>

<div class="row">
    <div class="col">
            <% if(typeof err!='undefined'){ %>
            <p><%- (err.code || err.name ) %>:<br><%- err.message%></p>
            <% } else { %>
            <center>     
            <h3>HATA oluştu</h3>
            </center>     
            <% } %>
              
    </div>
</div>

<div class="row" style="margin-top:100px;">
    <div class="col">
        <center>
            <a href="javascript:history.back(1);" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Geri</a>
        </center>           
    </div>
</div>
